/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body,
html {
    color: #636363;
    font-weight: 400;
    line-height: 1.6;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.btn-gradient {
    padding: 20px 35px;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    background-image: linear-gradient(to right,
            #f55f8d 0,
            #f8ae56 51%,
            #f55f8d 100%);
    background-size: 200%;
    color: white;
    border: none;
    line-height: 1.2;
    text-align: center;
}

.title p:first-of-type {
    font-size: 22px;
    font-weight: 600;
    color: #f55f8d;
    margin-bottom: 20px;
}

.title h2 {
    font-size: 70px;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
    line-height: 1.1;
    animation-delay: 1s;
}

/* start header */

header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__content ul {
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.header__content li {
    padding: 55px 15px;
}

.header__content nav a {
    text-decoration: none;
    color: #070120;
    font-size: 15px;
    font-weight: 500;
    transition: all 1s;
}

.header__content nav a:hover {
    color: #f55f8d;
}

.header__content nav span {
    display: inline-block;
}

.header__content nav a:hover span {
    animation-name: animateSpan;
    animation-duration: 0.3s;
}

.header__content li i {
    font-size: 9px;
    vertical-align: middle;
    margin-top: -6px;
}

.header__content button:hover {
    background-position: right center;
}

/* end header */

/* start carousel */

.carousel {
    padding-top: 160px;
    background-image: url(../img/pic2.png);
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
}

.carousel__content {
    display: flex;
}

.carousel__content .title {
    padding: 80px 0;
}

.title .carousel__textP {
    font-size: 18px;
    margin-bottom: 20px;
    animation-delay: 2s;
    color: #636363;
    font-weight: 400;
}

.title .carousel__textP1,
.title .carousel__textP1 {
    font-size: 20px;
    margin-bottom: 20px;
    animation-delay: 3s;
    color: #636363;
    font-weight: 400;
}

.title p i {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: orange;
    color: white;
    text-align: center;
    line-height: 35px;
    font-size: 24px;
    font-weight: 900;
    background-image: linear-gradient(to right,
            #f55f8d 0,
            #f8ae56 51%,
            #f55f8d 100%);
    background-size: 200%;
    margin-right: 10px;
}

.title .btn-gradient {
    display: block;
    animation-delay: 4s;
}

.carousel__content .carousel__image {
    transform: translateX(140px);
}

.carousel__image img {
    animation-delay: 3s;
}

/* end carousel */

/* start services */

.services {
    background-image: url(../img/bg16.png);
    background-size: cover;
    background-position: top center;
    padding: 80px 0;
    text-align: center;
}

.services__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.services__list .services__item {
    background-color: white;
    padding: 30px 45px;
    text-align: center;
    border-radius: 5px;
    margin-right: 30px;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    transition: all 0.5s;
}

.services__list .services__item:hover {
    transform: translateY(-20px);
}

.services__item img {
    width: 215px;
}

.services__item h3 {
    font-size: 22px;
    font-weight: 700;
    color: #262626;
    margin: 15px 0;
}

/* end services */

/* start aboutUs */

.aboutUs {
    background-image: url(../img/bg15.png);
    background-size: 100%;
    background-position: top center;
    padding: 50px 0;
    background-repeat: no-repeat;
}

.aboutUs .aboutUs__content {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
}

.aboutUs .aboutUs__img {
    position: absolute;
    width: 60%;
    top: 17%;
    left: -17%;
    animation-duration: 2s;
    animation-delay: 0.2s;
}

.aboutUs__img img {
    width: 100%;
    border-radius: 0 100px 100px 0;
}

.aboutUs__title {
    text-align: left;
    width: 50%;
    animation-duration: 2s;
    animation-delay: 0.2s;
}

.aboutUs__title p:nth-child(3) {
    margin-bottom: 15px;
}

.aboutUs__title ul {
    margin-bottom: 20px;
}

.aboutUs__title li {
    list-style: none;
}

.aboutUs__title i {
    font-size: 24px;
    color: #f55f8d;
    margin-right: 10px;
    vertical-align: middle;
}

/* end aboutUs */

/* start number */

.number {
    background-image: url(../img/bg14.png);
    background-position: center;
    padding: 80px 0;
}

.number__content {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.number__content .number__item {
    width: 25%;
}

.number__item i {
    font-size: 45px;
    background-image: linear-gradient(to right,
            #f55f8d 0,
            #f8ae56 51%,
            #f55f8d 100%);
    color: white;
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.number__item p:first-of-type {
    font-size: 65px;
    font-weight: 800;
    color: #f55f8d;
    line-height: 1;
}

.number__item p:last-of-type {
    font-size: 18px;
    color: #262626;
}

/* end number */

/* start features */

.features {
    background-image: url(../img/bg16.png);
    background-size: cover;
    background-position: top center;
    padding: 100px 0;
}

.features__content {
    display: flex;
}

.features__title,
.features__img {
    width: 50%;
}

.features__item {
    padding: 0 50px 30px 0;
}

.features__item:nth-child(2) {
    padding: 0 0 30px 50px;
}

.features__bg {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    overflow: hidden;
    position: relative;
    transition: all 1s;
}

.features__bg::after {
    content: "";
    background-image: linear-gradient(to right,
            #f55f8d 0,
            #f8ae56 51%,
            #f55f8d 100%);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s;
}

.features__bg:hover::after {
    opacity: 1;
}

.features__bg i {
    font-size: 80px;
    color: #f55f8d;
    z-index: 1;
    transition: all 1s;
}

.features__bg:hover i {
    color: white;
}

.details__right {
    margin-left: 25px;
    transition: all 1s;
    z-index: 1;
}

.features__bg:hover .details__right {
    color: white;
}

.details__right h3 {
    font-size: 1.5rem;
    font-weight: 800;
    color: #262626;
    transition: all 1s;
}

.features__bg:hover h3 {
    color: white;
}

.features__banner img {
    width: 100%;
    animation-name: move2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.features__banner {
    margin-right: -80px;
}

/* end features */

/* start portfolio */

.portfolio {
    text-align: center;
    background-image: url(../img/bg17.png);
    background-size: cover;
    background-position: top center;
}

.portfolio .portfolio__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1.5fr;
    gap: 30px;
}

.portfolio__item {
    position: relative;
    overflow: hidden;
}

.portfolio__item::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
    transition: all 0.75s;
}

.portfolio__item:hover::before {
    left: 125%;
}

.portfolio__item img {
    width: 100%;
    height: 100%;
}

.portfolio__item-1 {
    grid-column: 1 / 3;
}

.portfolio__item-5 {
    height: 100%;
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

.portfolio__item-6 {
    grid-column: 1 / 3;
}

.portfolio__item .portfolio__overlay {
    background: rgba(0, 0, 0, 0.4);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.75s;
}

.portfolio__item:hover .portfolio__overlay {
    opacity: 1;
}

.portfolio__overlay .portfolio__icon {
    width: 50px;
    height: 50px;
    background-image: linear-gradient(to right,
            #f55f8d 0,
            #f8ae56 51%,
            #f55f8d 100%);
    color: white;
    background-size: 200%;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    font-size: 28px;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: all 0.75s;
}

.portfolio__item:hover .portfolio__icon {
    top: 20px;
    right: 20px;
}

.portfolio__icon a {
    text-decoration: none;
    color: white;
}

.portfolio__overlay .portfolio__text {
    text-align: left;
    position: absolute;
    bottom: -20px;
    left: 20px;
    transition: all 0.75s;
}

.portfolio__item:hover .portfolio__text {
    bottom: 20px;
}

.portfolio__text .h3 {
    font-size: 22px;
    font-weight: 800;
}

.portfolio__text p {
    opacity: 0.7;
}

/* end portfolio */

/* start plan */

.plan {
    padding: 80px 0 0;
    background-image: url(../img/bg16.png);
    background-size: cover;
    text-align: center;
}

.plan .plan__list {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.plan__item {
    padding: 35px 60px;
    background-color: white;
    color: black;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 0 50px rgb(0, 0, 0, .1);
    border: 3px solid transparent;
    transition: all 1s;
}

.plan__item:hover {
    border-image: url(../img/br.png) 1 round;
}

.plan__item h3 {
    font-size: 32px;
    font-weight: 700;
    color: #262626;
}

.plan__item img {
    width: 125px;
}

.plan__item p {
    font-size: 18px;
    font-weight: 600;
    color: #262626;
}

.plan__item span {
    font-size: 50px;
    font-weight: 800;
    color: #f8ae56;
}

.plan__item p::after {
    content: "";
    display: block;
    border-bottom: 1px solid #e1e1f0;
}

.plan__item ul {
    list-style: none;
    text-align: left;
    padding: 15px 0;
}

.plan__item li {
    padding: 5px 0;
}

.plan__item i {
    width: 26px;
    height: 26px;
    font-size: 12px;
    background-color: #feeff3;
    color: #f55f8d;
    text-align: center;
    line-height: 26px;
    border-radius: 50%;
    margin-right: 15px;
}

/* end plan */

/* start testimonial */

.testimonial {
    padding: 80px;
    text-align: center;
    background-image: url(../img/bg17.png);
    background-size: 100%;
    background-position: top center;
}


/* end testimonial */


/* start blog */

.blog {
    padding: 80px 0;
    text-align: center;
    background-image: url(../img/bg16.png);
    background-size: cover;
    background-position: top center;
}

/* end blog */


/* start footer */

footer {
    padding: 30px 0 0;
    background-image: url(../img/pic2.png);
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    font-size: 15px;
    background-color: #0e1b1f;
    color: white;
    position: relative;
}

footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/pattern2.png);
    background-size: contain;
    background-position: left top;
    background-repeat: no-repeat;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 60px;
    padding: 50px 60px;
    background-color: white;
    background-image: url(../img/pattern3.png);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    box-shadow: 0 0 30px 0rgba(0, 0, 0, .1);
    border-radius: 10px;
    position: relative;
}

.footer__text,
.footer__form {
    width: 50%;
}

.footer__text h2 {
    font-size: 28px;
    color: #262626;
}

.footer__form form {
    display: flex;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}

.footer__form input {
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    background: white;
    color: #888;
    border-radius: .5rem 0 0 .5rem;
    border: 1px solid white;
    flex: 1 1 auto;
    transition: all .5s;
}

.footer__form input:hover {
    border-color: #f55f8d;
}

.footer__form input:focus {
    border-color: #f55f8d;
}


.footer__form button {
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-radius: 0 .5rem .5rem 0;
    color: white;
    border-color: transparent;
    cursor: pointer;
}

.footer__bottom {
    padding: 50px 0;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.footer__item {
    width: 25%;
}

.footer__item h3 {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.footer__item h3::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15px;
    height: 4px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-radius: 20px;
}

.footer__item h3::after {
    content: "";
    width: 40px;
    height: 4px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    left: 20px;
}

.footer__item i {
    font-weight: 700;
    margin-right: 10px;
}

.footer__item li {
    list-style: none;
    padding: .5rem 0;
}

.footer__item li a {
    text-decoration: none;
    color: #636363;
    font-size: 16px;
    transition: all .5s;
}

.footer__item li a:hover {
    color: white;
}

.footer__contact li {
    list-style: none;
    display: flex;
    align-items: center;
}

.footer__contact li i {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    color: white;
    margin-right: 10px;
}


.footer__copyright {
    background: #1f343b;
    padding: 10px 0;
    position: relative;
}

.footer__copyright .container {
    display: flex;
    justify-content: space-between;
}

.footer__left span {
    color: #f55f8d
}

.footer__right a {
    text-decoration: none;
    color: white;
}

.footer__right i {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: rgba(255, 255, 255, .1);
    color: white;
    border-radius: 50%;
    font-size: 14px;
    transition: all .5s;
}

.footer__right i:hover {
    background: #f55f8d;
}

/* end footer */

.backToTop {
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #fff;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    visibility: hidden;
    opacity: 0;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-top--fade-out {
    opacity: .5;
}


@keyframes animateSpan {
    49% {
        transform: translateY(100%);
    }

    50% {
        opacity: 0;
        transform: translateY(-100%);
    }

    51% {
        opacity: 1;
    }
}

@keyframes move2 {
    0% {
        transform: rotate(1deg) translate(2px, 2px);
    }

    50% {
        transform: rotate(-1deg) translate(-2px, -2px);
    }

    100% {
        transform: rotate(1deg) translate(2px, 2px);
    }
}